.summaries-content {
    position: relative;
    min-height: 600px;
    background-image: url(../assets/images/bg/collection.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}